* {
  font-family: system-ui;
}

body {
  margin: 0;
}

canvas {
  display: block;
  width: 100dvw;
  height: 100dvh;
}

.debug {
  width: 100dvw;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
