* {
  font-family: system-ui;
}

:root {
  --background-panel: hsla(0, 0%, 100%, 0.5);
}

body {
  margin: 0;
}

canvas {
  display: block;
  width: 100dvw;
  height: 100dvh;
}

.toggles {
  position: fixed;
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  background: var(--background-panel);

  fieldset {
    display: flex;
    flex-direction: column;
  }
}

.info {
  position: fixed;
  width: 100dvw;
  bottom: env(safe-area-inset-bottom);
  background: var(--background-panel);
}

.camera {
  display: flex;
  flex-direction: column;

  & > div {
    padding-left: 1em;
  }
}
